body{
  margin:2vw;
}

th,table{
  border:1px solid black;
  border-collapse:collapse;
  border-spacing: 10vw;
}

td{
  padding:1vw;
  border-left:1px solid black;
  border-right:1px solid black;
}

table{
  width:100vw;
  text-align: center;
}

#btn,.navbar,tfoot{
  color:white;
  background-color:black;
  padding:1vw;
}

ol,ul{
  padding:1vw;
}

.navbar{
  margin:0;
}